@CHARSET "ISO-8859-1";

.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #6258ed;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url('arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}
#foot
{
	width: 100%;
	border-top:18px solid  #d9d9d9;
	height: 100%;
	background-color:#a8a3f5;
}
#mailus
{

}